ul {
    line-height: 40px;
    color: orange;
    float: left;
}

body {
    background-color: ultra violet;
    text-align: center;
}

ol {
    line-height: 40px;
    color: blue;
    font-style: italic;
    line-height: 30px;
    float: right;
}

h4 {
    font-family: 'Times New Roman';
    font-style: oblique;
    color: pink;
    line-height: 36px;
    font-size: 150%;
}

p {
    background-color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
    color: cornsilk;
    font-size: 120%;
}


/* h1 {
    display: block;
    font-size: 2em;
    font-weight: bold;
    background-color: cornsilk;
    color: coral;
    font-family: Arial;
} */

.first-header {
    display: block;
    font-size: 2em;
    font-weight: bold;
    background-color: cornsilk;
    color: coral;
    font-family: Arial;
    margin: 10%;
}

a {
    font-family: Arial Black;
    font-style: italic;
    color: red;
}

h3 {
    font-family: "Garamond";
    font-size: 22px;
    font-weight: 150;
    text-decoration: line-through;
}


/* 
h2 {
    display: block;
    font-size: 2em;
    margin-top: 0.83em;
    margin-bottom: 0.83em;
    font-weight: bold;
    color: red;
} */

#header-one {
    display: block;
    font-size: 2em;
    font-weight: bold;
    color: red;
    padding: 5%;
    border: 10px solid red;
    margin: 5%;
}

#header-two {
    display: block;
    font-size: 2em;
    margin-top: 0.83em;
    margin-bottom: 0.83em;
    font-weight: bold;
    color: cyan;
}

.headers {
    text-decoration: overline;
    text-decoration-style: dotted;
}

.content {
    text-decoration: underline;
    text-decoration-style: wavy;
}

.happy {
    text-decoration: underline overline dashed blue;
}

@media screen and (min-width:480px) {
    body {
        background-color: black;
        color: white
    }
}

@media screen and (min-width:1400px) {
    body {
        background-color: rgb(221, 7, 221);
        color: black
    }
    h1 {
        background-color: darkgreen;
    }
}